body { 
  font-size: 12px;  
 font-family: Roboto;
 color:#4d4b4b;
}
.form-group {
    margin-bottom: 7px;
    
}
.select2-results__group{
    background-color: antiquewhite;
}
.form-control {
    min-height: 28px;    
    padding: .25rem .25rem;
    font-size: 13px;
    height: calc(1.5em + 2px);
}

.table td, .table th {
    padding: .25rem;
    color:
    #4d4b4b;;
}
.btn-theme{
        background: #48bc97 !important;
        border: 1px solid #48bc97 !important;
        transition: 0.2s ease-in;
        color:#fff !important;
        padding: 5px 10px;    
        font-size: 13px;
        line-height: 1.4;
}
.btn-theme-sm{  
        padding: 5px 10px;    
        font-size: 13px;
        line-height: 1.4;
}
.applyBtn {
    background: #48bc97 !important;
        border: 1px solid #48bc97 !important;
         color:#fff !important;
        padding: 5px 10px;    
        font-size: 13px;
        line-height: 1.4;
}
.custom-container-fluid {
    max-width: 1200px; /* Set your desired max-width */
    margin-right: auto;
    margin-left: auto;
}
.company_nav_bar{
  padding: .2rem 1rem;
  background-color: #f6f9fa;
}
.no-bottom-margin{
  margin-bottom: 0px !important;
}
.right-sidebar .rpanel-title {
  background: #48bc97;
}
.right-sidebar .r-panel-body {
  padding: 5px !important;
}
.shw-rside {  
  width: 320px;  
}
.right-sidebar .select2-container--default .select2-results > .select2-results__options {
  max-height: 600px;
  overflow-y: auto;
}
.error{
    color: red !important;
}
.topbar .top-navbar .navbar-nav > .nav-item > .nav-link p{
  font-size: 12px !important;
  line-height:12px !important;
  margin-bottom: 10px !important;
}
.right-side-toggle i {
    font-size: 25px;
    top: 13px;
    left: 13px;
}
.paging_simple_numbers .pagination .paginate_button.active a, .paging_simple_numbers .pagination .paginate_button:hover a {
  background: #48bc97 !important;
  color: #ffffff;
}
.no-left-right-padding{
    padding-right: 0px;
    padding-left: 0px;
}
.datepicker-dropdown{
z-index: 60 !important;
}
.datepicker td, .datepicker th {
  padding: 4px 4px;
  font-size: 12px;

}
.input-group-text{
padding: .25rem .25rem;
}
 /* Media query for screens larger than 1900 pixels */
  @media (min-width: 1900px) {
    .container-fluid {
        max-width: 1800px; /* Set your desired max-width for screens larger than 1900 pixels */
    }
    .topbar .top-navbar {  
        max-width: 1800px;        
      }
      .mini-sidebar .scroll-sidebar {
         max-width: 1800px;
      }
  }